<h4>Liste des utilisateurs</h4>
<input type="text" placeholder="Tapper username" [(ngModel)]="usernameTappe">
<button class="btn btn-success" (click)="nbrUtilisateurByUserName(usernameTappe)">Vérifier</button>
<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">userId</th>
          <th scope="col">Name</th>
          <th scope="col">UserName</th>
          <th scope="col">Email</th>
        </tr>
      </thead>
      <tbody *ngFor="let u of listUsers">
        <tr>
          <th scope="row" >{{u.id}}</th>
          <td>{{u.name}}</td>
          <td>{{u.username}}</td>
          <td>{{u.email}}</td>
          <td><a [routerLink]="['/todoUser',u.id]" >Voir Todo</a>  </td>
          
        </tr>
        
      </tbody>
</table>